html,body{margin: 0;padding: 0;}

#wai{height: auto;width: 1263px;background-color: #ffffff;}

/*头部*/
#first{width:1263px;height: 31px;background-color: #eeeeee;}
.yi{margin: 0;padding:0;padding-left:880px;list-style: none;}
.yi li{float: left;color: #333333;font-size: 12px;padding-left: 10px;height: 31px;line-height: 31px;}
.yi .red{color:#d32402;}

/*second*/
#second{width: 1263px;height: 84px;margin: 0;padding: 0;}
.er{margin: 0;padding:0;list-style: none;padding-left: 40px;width: 1223px;height: 84px;}
.er li{float: left;}

.er1{background:url(../img/top11.jpg) no-repeat center;width: 312px;height: 84px;}
.er2{background:url(../img/top12.jpg) no-repeat center;width: 312px;height: 84px;}
.er3{background:url(../img/top13.jpg) no-repeat center;width:316px;height: 84px;}
.er4{background:url(../img/top14.jpg) no-repeat center;width: 252px;height:84px;}


/*third*/
#third{width: 1230px;height: 70px;padding-left: 33px;padding-top: 30px;}
#san1,#san2,#btn1,#btn2,#btn3,#ul2,#ul2 li{float: left;}
#san1{width:179px;height:63px;padding-right:60px;}
#san2{width:66px;height:65px;padding-right:90px;}
#btn1{width: 324px;height: 34px;border:4px solid red;padding: 0;margin-top:13px;}
#btn2{width: 90px;height:42px;background-color: red;border:0;padding: 0;font-size: 14px;color:#ffffff;margin-top:13px;}
#btn3{font-size:14px;color:#333333;background-color:gold;border:1px solid #dddddd;margin:0;padding:0;height:30px;margin-top:15px;}
#ul2{list-style: none;font-size: 14px;padding-right:45px;}
#ul2 li{margin-right:5px;font-weight: 700;}
.rd span{color:red;}
.rd{border-right:2px solid #d0d0d0;}

/*four*/
#four{width:1196px;height: 40px;line-height:40px;border-bottom: 4px solid #333333;margin-left: 37px;}
#san41,#ul4,#ul4 li,#btn43,#btn44{float: left;}
#san41{width:204px;background-color: #333333;color:#ffffff;font-size:18px;}
#san41 span{padding:0px 40px 0px 15px;}
#ul4{list-style: none;margin: 0;padding: 0;padding-right: 145px;}
#ul4 li{padding-left: 50px;color:#333333;font-size:17px;font-weight: 700;}
#btn43,#btn44{margin: 0;padding: 0;background:url(../img/bg11.jpg) repeat-x center;}
#btn44{width:144px;height:38px;}
#btn43{width:45px;}

/*wu*/
#wu{width: 1197px;height: 40px;background-color: #eeeeee;border-bottom: 1px solid #D0D0D0;line-height: 40px;margin-left: 37px;}
#wu ul{list-style: none;font-size: 12px;margin: 0;}
#wu ul li{float: left;padding-right: 10px;text-align: center;}
#wli1{font-size: 15px;font-weight: 700;color: #666666;}

/*liu*/
#liu ul{list-style: none;}
#liu1,#liu2,#liu3{float: left;}
#uliu{padding-left: 37px;}
#uliu2li1{font-size: 14px;font-weight: 700;color: #333333;}
#pliu1{color: #d32402;}
#uliu2 li{border-bottom:1px solid #D0D0D0 ;}

#nid{padding-top: 51px;font-size: 14px;color: #999999;}
#liu #uliu2li4,#liu #uliu2li5, #liu #uliu2li6{border: none;}
#uliu2li2{font-size: 14px;color: #999999;}
#spp{color: #343434;font-weight: 700;font-size: 16px;}
#spliu2{color: red;font-weight: 700;font-size: 16px;}

#uliu2li3 div{float: left;text-align: center;padding-left: 30px;}
#pliu23{color: red;font-weight: 700;}
#pliu24{color: blue;font-weight: 700;}
#pp2,#pp3{font-size: 14px;color: #999999;}
#uliu2li4{font-size: 14px;color: #999999;}
#uliu2li4 button{color: #333333;}
#uliu2li5{font-size: 14px;color: #333333;line-height: 18px;padding-bottom: 10px;}
#uliu2li5 #ap{color: #f37b15;}
#btnul1{color: white;background-color:#2ca431 ;border: none;width: 150px;height: 30px;}
#btnul2{background-color: #f37b15;color: white;border: none;width: 150px;height: 30px;}
#liu3{border: 1px solid #DDDDDD;font-size: 14px;margin-left: 25px;margin-top: 15px;width: 312px;}
#liu3 ul{padding: 0;}
#dd1{height: 55px;text-align: center;line-height:55px;border-bottom: 1px solid #D0D0D0;}
#apdd1{color: #0066cc;}
#dd3 a{color: #0066cc;}
#dd3{font-weight:800;height: 55px;text-align: center;line-height:55px;border-bottom: 1px solid #D0D0D0;background-color:#eeeeee;}
#dd4{border:2px dotted #cccccc;background-color:#ff9900 ;text-align: center;color: white;}
#dd5{text-align: center;padding: 10px 0;font-size: 16px;font-weight: 800;}
#dd5 img{padding-top: 10px;}
#dd6{text-align: center;font-size: 14px;font-weight: 800;}


/*qi*/
#uqi1,#uqi2{float: left;}
#uqi1 li{border: 1px solid #CCCCCC;font-size: 12px;padding-left: 10px;margin-bottom:10px ;}
#qili2{background-color: #D0D0D0;font-size: 14px;font-weight: 700;}
#qili3 span{margin: 0 10px;}
#qili5{background-color: #D0D0D0;font-size: 14px;font-weight: 700;}
#uqi1 .tp{text-align: center;}
#uqi1 .tp span{color: red;}


#uqi2{border: 1px solid #DDDDDD;margin-left: 20px;padding-left: 0;}
#uqi2 ul{}
#dqi2 ul{padding: 0;}
#dqi2 li{width: 100px;text-align: center;float: left;border: 1px solid #D0D0D0;height: 30px;font-size: 12px;line-height: 30px;}
#dqi3{padding-left: 62px;}
#dqi3p3 img,#dqi3p3 span{float: left;}
#spqi2{text-align: center;padding-top:100px ;padding-left: 50px;}
#spqi2 span{font-weight: 800;}

/*end1*/
#end1{width: 1185px;height: 50px;font-size:12px;background-color: #f9f9f9;border: 1px solid #dddddd;text-align: center;margin-left: 30px;}
#end1 span{font-size: 16px;font-weight: 800;color: #333333;}
#end1 p input{width: 335px;height: 26px;margin-left: 10px;}
#end1 p button{height: 32px;font-size: 15px;font-weight: 600;margin-right: 20px;}

/*end2*/
#end2 ul{list-style: none;float: left;padding-left: 30px;padding-right: 50px;color: #666666;}
#end2 ul li{line-height: 20px;font-size: 12px;}
#end2 #eli1, #eli12, #eli13,#eli14,#eli15,#eli16,#eli17{display: block;font-weight: 900;margin-bottom: 30px;font-size: 16px;color: #333333;}
#end2 #div1{padding-top: 50px;}

/*end3*/
#end3{text-align: center;font-size: 12px;border-top:1px solid #D0D0D0 ;}
#end3 p{color: #666666;}
#end3 h4{font-size: 18px;}
#end3 h4 em{color: red;}