html,body{margin: 0;padding: 0;}

#wai{height: auto;width: 1263px;background-color: #ffffff;}

/*头部*/
#first{width:1263px;height: 31px;background-color: #eeeeee;}
.yi{margin: 0;padding:0;padding-left:880px;list-style: none;}
.yi li{float: left;color: #333333;font-size: 12px;padding-left: 10px;height: 31px;line-height: 31px;}
.yi .red{color:#d32402;}

/*second*/
#second{width: 1263px;height: 84px;margin: 0;padding: 0;}
.er{margin: 0;padding:0;list-style: none;padding-left: 40px;width: 1223px;height: 84px;}
.er li{float: left;}

.er1{background:url(../img/top11.jpg) no-repeat center;width: 312px;height: 84px;}
.er2{background:url(../img/top12.jpg) no-repeat center;width: 312px;height: 84px;}
.er3{background:url(../img/top13.jpg) no-repeat center;width:316px;height: 84px;}
.er4{background:url(../img/top14.jpg) no-repeat center;width: 252px;height:84px;}


/*third*/
#third{width: 1230px;height: 70px;padding-left: 33px;padding-top: 30px;}
#san1,#san2,#btn1,#btn2,#btn3,#ul2,#ul2 li{float: left;}
#san1{width:179px;height:63px;padding-right:60px;}
#san2{width:66px;height:65px;padding-right:90px;}
#btn1{width: 324px;height: 34px;border:4px solid red;padding: 0;margin-top:13px;}
#btn2{width: 90px;height:42px;background-color: red;border:0;padding: 0;font-size: 14px;color:#ffffff;margin-top:13px;}
#btn3{font-size:14px;color:#333333;background-color:#eeeeee;border:1px solid #dddddd;margin:0;padding:0;height:30px;margin-top:15px;}
#ul2{list-style: none;font-size: 14px;padding-right:45px;}
#ul2 li{margin-right:5px;font-weight: 700;}
.rd span{color:red;}
.rd{border-right:2px solid #d0d0d0;}

/*four*/
#four{width:1196px;height: 40px;line-height:40px;border-bottom: 4px solid #333333;margin-left: 37px;}
#san41,#ul4,#ul4 li,#btn43,#btn44{float: left;}
#san41{width:204px;background-color: #333333;color:#ffffff;font-size:18px;}
#san41 span{padding:0px 40px 0px 15px;}
#ul4{list-style: none;margin: 0;padding: 0;padding-right: 145px;}
#ul4 li{padding-left: 50px;color:#333333;font-size:17px;font-weight: 700;}
#btn43,#btn44{margin: 0;padding: 0;background:url(../img/bg11.jpg) repeat-x center;}
#btn44{width:138px;height:38px;}
#btn43{width:45px;}

/*懒加载*/
#data #uh{list-style: none;padding-left:243px;}
#data #uh li{width: 228px;height: 358px;border: 1px solid #dddddd;float: left;margin: 10px 10px;font-size: 12px;text-align:center;}
#data #uh li{padding-top: 40px;position: relative;}
#data #uh li img{height:107px ;}
#data #uh li #p1{padding-top: 60px;color: #474747;font-weight: 600;}
#data #uh li #p2{color: red;}
#data #uh li #p2 span{background-color: #ff6600;width: 14px;height: 14px;color: white;font-size: 15px;}
#data #uh li #p3{width: 70px;font-size: 16px;font-weight: 700;color: #d32402;}
#data #uh li #p4{width: 80px;height: 30px;font-size: 14px;font-weight: 700;text-align: center;color:#ffffff;}
#data #uh li #p4{line-height: 30px;position: absolute;right: 10px;bottom: 10px;margin: 0;background-color: #d32402;}

/*左边框*/
#data h5{position: absolute;left: 31px;border: 1px solid #dddddd;font-size: 17px;font-weight: 700;background-color: #eeeeee;}
#data #uk{position: absolute;top: 320px;list-style: none;}
#data h5,#data #uk li{width: 200px;text-align: center;}
#data #uk img{width: 50px;height: 70px;}
#data #uk p{width:120px;font-size: 12px;}
#data #uk img,#data #uk p{}





