html,body{margin: 0;padding: 0;}

#wai{height: auto;width: 1263px;background-color: #ffffff;}

/*头部*/
#first{width:1263px;height: 31px;background-color: #eeeeee;}
.yi{margin: 0;padding:0;padding-left:880px;list-style: none;}
.yi li{float: left;color: #333333;font-size: 12px;padding-left: 10px;height: 31px;line-height: 31px;}
.yi .red{color:#d32402;}

/*second*/
#second{width: 1263px;height: 84px;margin: 0;padding: 0;}
.er{margin: 0;padding:0;list-style: none;padding-left: 40px;width: 1223px;height: 84px;}
.er li{float: left;}

.er1{background:url(../img/top11.jpg) no-repeat center;width: 312px;height: 84px;}
.er2{background:url(../img/top12.jpg) no-repeat center;width: 312px;height: 84px;}
.er3{background:url(../img/top13.jpg) no-repeat center;width:316px;height: 84px;}
.er4{background:url(../img/top14.jpg) no-repeat center;width: 252px;height:84px;}


/*third*/
#third{width: 1230px;height: 70px;padding-left: 33px;padding-top: 30px;}
#san1,#san2,#btn1,#btn2,#btn3,#ul2,#ul2 li{float: left;}
#san1{width:179px;height:63px;padding-right:60px;}
#san2{width:66px;height:65px;padding-right:90px;}
#btn1{width: 324px;height: 34px;border:4px solid red;padding: 0;margin-top:13px;}
#btn2{width: 90px;height:42px;background-color: red;border:0;padding: 0;font-size: 14px;color:#ffffff;margin-top:13px;}
#btn3{font-size:14px;color:#333333;background-color:#eeeeee;border:1px solid #dddddd;margin:0;padding:0;height:30px;margin-top:15px;}
#ul2{list-style: none;font-size: 14px;padding-right:45px;}
#ul2 li{margin-right:5px;font-weight: 700;}
.rd span{color:red;}
.rd{border-right:2px solid #d0d0d0;}

/*four*/
#four{width:1196px;height: 40px;line-height:40px;border-bottom: 4px solid #333333;margin-left: 37px;}
#san41,#ul4,#ul4 li,#btn43,#btn44{float: left;}
#san41{width:204px;background-color: #333333;color:#ffffff;font-size:18px;}
#san41 span{padding:0px 40px 0px 15px;}
#ul4{list-style: none;margin: 0;padding: 0;padding-right: 145px;}
#ul4 li{padding-left: 50px;color:#333333;font-size:17px;font-weight: 700;}
#btn43,#btn44{margin: 0;padding: 0;background:url(../img/bg11.jpg) repeat-x center;}
#btn44{width:138px;height:38px;}
#btn43{width:45px;}

/*five*/
#ul5 li,#ul6 li ,#ul7 li{list-style: none;}			
#main {width: 760px;height: 300px;position: relative;float: left;padding-left: 200px}			
#main .pic {width: 760px;height: 300px;overflow: hidden;}
#ul5 li {width: 760px;height: 300px;position: relative;}

#niu1{position: absolute;top: 0;left: 0;}
#niu2{position: absolute;top: 0;left: 0;display: block;}

#ul5 li .img1 {position: absolute;top: 0;left: -760px;}
#ul5 li .img2 {position: absolute;top: 0;left: -20px;display: none;}
#main .nav {position: absolute;right: 20px;bottom: 20px;}
#ul6 li {width: 10px;height: 15px;line-height:15px;border: 1px solid #fff;float: left;margin-left: 5px;background-color: #999999;}
#ul6 li.select{background:red;color: #fff;}
#ul5{margin:0;}
#wu1{width:250px;height:300px;position: relative;float:left;}
#ul7{margin:0;padding:0;padding-left: 38px;}
#ul7 li{margin-bottom: 8px;font-size: 12px;}
#ul71{font-size: 14px;color:#333333;font-weight: 700;margin-top: 5px;}
#ul7 .zuo{padding-left: 65px;}
#ul7 .{margin-bottom: 10px;}
#ul7 .wured{background-color:red;width: 110px;color:white;margin-left: 65px;font-size: 16px;font-weight: 700;}

#wu5{width: 760px;height: 72px;padding-left: 240px;position: relative;}
#pi{background-color: #ededed;width: 720px;}
#wbtn5{font-size: 18px;font-weight:600;margin-right:5px;width: 120px;height: 33px;border: 2px solid red;}
#wbtn6{font-size: 18px;font-weight:600;width: 170px;height: 33px;border: 2px solid red;}
#sp4{font-size: 25px;font-weight:800;color: #343434;}
#sp5{font-size: 45px;color: #c63920;}
#wu5 p img{padding-left: 100px;}

#wu52{position:absolute;top: 564px;right: 169px;height: 53px;}
#wu52 p{height:53px;margin: 0;}
#sp6{float:left;}
#wu52 p img{padding: 0;float:left;}
#wu52 p span{font-size:12px;color:#999999;}
#sp7{background-color:red;color:white;font-weight: 700;font-size: 16px;}
#sp8{color:red;font-size: 16px;font-weight: 700;}

/*six*/
#liu img{transition: .1s transform;transform: translateZ(0);}
#liu img:hover{transform: scale(1.5, 1.5);}

#ba img{transition: .1s transform;transform: translateZ(0);}
#ba img:hover{transform: scale(1.5, 1.5);}


#liu,{width: 1185px;height: 346px;border-top: 2px solid #333333;margin-left: 30px;}
#ul8{margin: 0;padding: 0;}
#liu #ul8 li{list-style: none;font-size: 12px;}
#ul8 .liuLi11,#ul8 .liuLi12,#ul8 .liuLi13{float: left;border: 1px solid #D0D0D0;height: 346px;}
 #ul8 .liuLi21,#ul8 .liuLi22,#ul8 .liuLi23{float: left;border: 1px solid #D0D0D0;}
#ul8 .liuLi11{height: 346px;width: 250px;}
#ul8 .liuLi11 p{text-align: center;}
#liup2 img{margin-bottom:20px ;}
#spaliu2{color: red;line-height: 27px;}
#spaliu1{padding: 0px 40px;color: #333333;font-size: 16px;font-weight: 700;}
#ul8 .liuLi12 .liuLi21 p,#ul8 .liuLi12 .liuLi23 p{border-bottom:1px solid #D0D0D0 ;}
/*21*/
#ul8 .liuLi12 .liuLi21{height: 306px;width: 215px;}
#spaliu3{width: 50px;display: block;float: right;line-height: 18px;padding-right: 5px;}
#spaliu4{color: red;}
#spaliu4 span{background-color: red;color: white;}

#spaliu5{width: 50px;display: block;float: right;line-height: 18px;padding-right: 5px;}
#spaliu6{color: red;}
#spaliu6 span{background-color: red;color: white;}
#liup21{padding-top: 25px;border-bottom: none;}
/*22*/
#liu2 .liuLi22{height: 276px;width: 205px;padding-top: 30px;}
#liu2 .liuLi22 img{padding-bottom: 20px;}
#liu2 .liuLi22 p span{background-color: red;color: white;}
#liu2 .liuLi22 i{color: red;}
/*23*/
#liu2 .liuLi23{height: 306px;width: 270px;}
#spaliu7{width: 50px;display: block;float: right;line-height: 18px;padding-right: 5px;}
#spaliu8{color: red;}
#spaliu8 span{background-color: red;color: white;}

#spaliu9{width: 50px;display: block;float: right;line-height: 18px;padding-right: 5px;}
#spaliu10{color: red;}
#spaliu10 span{background-color: red;color: white;}
#liup23{padding-top: 25px;border-bottom: none;}

/*13*/
#ul8 .liuLi13{height: 346px;width: 233px;}
#ul8 .liuLi13 p{color: #333333;font-size: 16px;font-weight: 700;text-align: center;}
#liu3{line-height: 23px;padding-left:20px;}

/*seven*/
#qi{margin:15px 0 20px 29px;border: 0;}
#qi img{width: 1190px;}

/*eight*/
#ba{width: 1185px;height: 346px;border-top: 2px solid red;margin-left: 30px;margin-bottom: 20px;}
#ul88{margin: 0;padding: 0;}
#ul88 li{list-style: none;font-size: 12px;}
#ul88 .liuLi118,#ba #ul88 .liuLi128,#ba #ul88 .liuLi138{float: left;border: 1px solid #D0D0D0;height: 346px;}
#ul88 .liuLi218,#ba #ul88 .liuLi228,#ba #ul88 .liuLi238{float: left;border: 1px solid #D0D0D0;}
#ul88 .liuLi118{height: 346px;width: 250px;}
#ul88 .liuLi118 #liup28 img{height: 240px;}
#ul88 .liuLi118 p{text-align: center;}
#ul88 .liuLi118 #liup28 img{margin-bottom:20px ;}
#ul88 .liuLi118 #liup28 #spaliu28{color: red;line-height: 27px;}
#ul88 .liuLi118 p #spaliu18{padding: 0px 40px;color: #333333;font-size: 16px;font-weight: 700;}
#ul88 .liuLi128 .liuLi218 p,#ba #ul88 .liuLi128 .liuLi238 p{border-bottom:1px solid #D0D0D0 ;}
/*21*/    
 #ul88 .liuLi128 .liuLi218{height: 306px;width: 215px;}
 #spaliu38{width: 50px;display: block;float: right;line-height: 18px;padding-right: 5px;}
#spaliu48{color: red;}
#spaliu48 span{background-color: red;color: white;}
          
#spaliu58{width: 50px;display: block;float: right;line-height: 18px;padding-right: 5px;}
#spaliu68{color: red;}
#spaliu68 span{background-color: red;color: white;}
#liup218{padding-top: 25px;border-bottom: none;}
/*22*/    
#liu28 .liuLi228{height: 276px;width: 205px;padding-top: 30px;}
#liu28 .liuLi228 img{padding-bottom: 20px;}
#liu28 .liuLi228 p span{background-color: red;color: white;}
#liu28 .liuLi228 i{color: red;}
/*23*/    
 #liu28 .liuLi238{height: 306px;width: 270px;}
 #spaliu78{width: 50px;display: block;float: right;line-height: 18px;padding-right: 5px;}
 #spaliu88{color: red;}
 #spaliu88 span{background-color: red;color: white;}
          
#spaliu98{width: 50px;display: block;float: right;line-height: 18px;padding-right: 5px;}
#spaliu108{color: red;}
#spaliu108 span{background-color: red;color: white;}
#liup238{padding-top: 25px;border-bottom: none;}

/*13*/
#ul88 .liuLi138{height: 306px;width: 233px;padding-top: 40px;text-align: center;}
#p88{line-height: 18px;}
#p88 span{color: red;font-weight: 600;}
#liu38 img{padding-bottom: 20px;}

/*nice*/
#jiu{width: 1185px;height: 346px;border-top: 2px solid black;margin-left: 30px;margin-bottom: 20px;}
#ul889{margin: 0;padding: 0;}
#jiu #ul889 li{list-style: none;font-size: 12px;}
#jiu #ul889 .liuLi1189,#jiu #ul889 .liuLi1289,#jiu #ul889 .liuLi1389{float: left;border: 1px solid #D0D0D0;height: 346px;}
#jiu #ul889 .liuLi2189,#jiu #ul889 .liuLi2289,#jiu #ul889 .liuLi2389{float: left;border: 1px solid #D0D0D0;}
#ul889 .liuLi1189{height: 346px;width: 250px;}
#liup289 img{height: 240px;}
#ul889 .liuLi1189 p{text-align: center;}
#liup289 img{margin-bottom:20px ;}
#spaliu289{color: red;line-height: 27px;}
#spaliu189{padding: 0px 40px;color: #333333;font-size: 16px;font-weight: 700;}
#ul889 .liuLi1289 .liuLi2189 p,#jiu #ul889 .liuLi1289 .liuLi2389 p{border-bottom:1px solid #D0D0D0 ;}
/*21*/    
#jiu #ul889 .liuLi1289 .liuLi2189{height: 306px;width: 215px;}
#spaliu389{width: 50px;display: block;float: right;line-height: 18px;padding-right: 5px;}
#spaliu489{color: red;}
#spaliu489 span{background-color: red;color: white;}
 jiu       
#spaliu589{width: 50px;display: block;float: right;line-height: 18px;padding-right: 5px;}
#spaliu689{color: red;}
#spaliu689 span{background-color: red;color: white;}
#liup2189{padding-top: 25px;border-bottom: none;}
/*22*/    
#liu289 .liuLi2289{height: 276px;width: 205px;padding-top: 30px;}
#liu289 .liuLi2289 img{padding-bottom: 20px;}
#liu289 .liuLi2289 p span{background-color: red;color: white;}
#liu289 .liuLi2289 i{color: red;}
/*23*/    
#liu289 .liuLi2389{height: 306px;width: 270px;}
#spaliu789{width: 50px;display: block;float: right;line-height: 18px;padding-right: 5px;}
#spaliu889{color: red;}
#spaliu889 span{background-color: red;color: white;}
          
#spaliu989{width: 50px;display: block;float: right;line-height: 18px;padding-right: 5px;}
#spaliu1089{color: red;}
#spaliu1089 span{background-color: red;color: white;}
#liup2389{padding-top: 25px;border-bottom: none;}

/*13*/
#ul889 .liuLi1389{height: 306px;width: 233px;padding-top: 40px;text-align: center;}
#p889{line-height: 18px;}
#p889 span{color: red;font-weight: 600;}
#liu389 img{padding-bottom: 20px;}

/*ten*/
#shi{width: 1185px;height: 346px;border-top: 2px solid red;margin-left: 30px;margin-bottom: 20px;}
#ul8891{margin: 0;padding: 0;}
#shi #ul8891 li{list-style: none;font-size: 12px;}
#shi #ul8891 .liuLi11891,#shi #ul8891 .liuLi12891,#shi #ul8891 .liuLi13891{float: left;border: 1px solid #D0D0D0;height: 346px;}
#shi #ul8891 .liuLi21891,#shi #ul8891 .liuLi22891,#shi #ul8891 .liuLi23891{float: left;border: 1px solid #D0D0D0;}
#shi #ul8891 .liuLi11891{height: 346px;width: 250px;}
#shi #ul8891 .liuLi11891 #liup2891 img{height: 240px;}
#shi #ul8891 .liuLi11891 p{text-align: center;}
#liup2891 img{margin-bottom:20px ;}
#spaliu2891{color: red;line-height: 27px;}
#spaliu1891{padding: 0px 40px;color: #333333;font-size: 16px;font-weight: 700;}
#ul8891 .liuLi12891 .liuLi21891 p,#shi #ul8891 .liuLi12891 .liuLi23891 p{border-bottom:1px solid #D0D0D0 ;}
/*21*/    
#shi #ul8891 .liuLi12891 .liuLi21891{height: 306px;width: 215px;}
#spaliu3891{width: 50px;display: block;float: right;line-height: 18px;padding-right: 5px;}
#spaliu4891{color: red;}
#spaliu4891 span{background-color: red;color: white;}
/*jiu */      
#spaliu5891{width: 50px;display: block;float: right;line-height: 18px;padding-right: 5px;}
#spaliu6891{color: red;}
#spaliu6891 span{background-color: red;color: white;}
#liup21891{padding-top: 25px;border-bottom: none;}
/*22*/    
#liu2891 .liuLi22891{height: 276px;width: 205px;padding-top: 30px;}
#liu2891 .liuLi22891 img{padding-bottom: 20px;}
#liu2891 .liuLi22891 p span{background-color: red;color: white;}
#liu2891 .liuLi22891 i{color: red;}
/*23*/    
#liu2891 .liuLi23891{height: 306px;width: 270px;}
/*66*/
#liu2891 .liuLi23891 img{height: 120px;}
#spaliu7891{width: 50px;display: block;float: right;line-height: 18px;padding-right: 5px;}
#spaliu8891{color: red;}
#spaliu8891 span{background-color: red;color: white;}
                        
#spaliu9891{width: 50px;display: block;float: right;line-height: 18px;padding-right: 5px;}
#spaliu10891{color: red;}
#spaliu10891 span{background-color: red;color: white;}
#liup23891{padding-top: 25px;border-bottom: none;}

/*13*/
#shi #ul8891 .liuLi13891{height: 306px;width: 233px;padding-top: 40px;text-align: center;}
#p8891{line-height: 18px;}
#p8891 span{color: red;font-weight: 600;}
#liu3891 img{padding-bottom: 20px;}


/*ten*/
#shyi{width: 1185px;height: 346px;border-top: 2px solid blue;margin-left: 30px;margin-bottom: 20px;}
#ul88912{margin: 0;padding: 0;}
#shyi #ul88912 li{list-style: none;font-size: 12px;}
#shyi #ul88912 .liuLi118912,#shyi #ul88912 .liuLi128912,#shyi #ul88912 .liuLi138912{float: left;border: 1px solid #D0D0D0;height: 346px;}
#shyi #ul88912 .liuLi218912,#shyi #ul88912 .liuLi228912,#shyi #ul88912 .liuLi238912{float: left;border: 1px solid #D0D0D0;}
#shyi #ul88912 .liuLi118912{height: 346px;width: 250px;}
#shyi #ul88912 .liuLi118912 #liup28912 img{height: 240px;width: 200px;}
#shyi #ul88912 .liuLi118912 p{text-align: center;}
#liup28912 img{margin-bottom:20px ;}
#liup28912 #spaliu28912{color: red;line-height: 27px;}
#shyi #ul88912 .liuLi118912 p #spaliu18912{padding: 0px 40px;color: #333333;font-size: 16px;font-weight: 700;}
#shyi #ul88912 .liuLi128912 .liuLi218912 p,#shyi #ul88912 .liuLi128912 .liuLi238912 p{border-bottom:1px solid #D0D0D0 ;}
/*21*/    
#ul88912 .liuLi128912 .liuLi218912{height: 306px;width: 215px;}
#spaliu38912{width: 50px;display: block;float: right;line-height: 18px;padding-right: 5px;}
#spaliu48912{color: red;}
#spaliu48912 span{background-color: red;color: white;}
 /*jiu*/       
#spaliu58912{width: 50px;display: block;float: right;line-height: 18px;padding-right: 5px;}
#spaliu68912{color: red;}
#spaliu68912 span{background-color: red;color: white;}
#liup218912{padding-top: 25px;border-bottom: none;}
/*22*/    
#liu28912 .liuLi228912{height: 276px;width: 205px;padding-top: 30px;}
#liu28912 .liuLi228912 img{padding-bottom: 20px;}
#liu28912 .liuLi228912 p span{background-color: red;color: white;}
#liu28912 .liuLi228912 i{color: red;}
/*23*/    
#liu28912 .liuLi238912{height: 306px;width: 270px;}
#spaliu78912{width: 50px;display: block;float: right;line-height: 18px;padding-right: 5px;}
#spaliu78912 #spaliu88912{color: red;}
#spaliu88912 span{background-color: red;color: white;}
                        
#spaliu98912{width: 50px;display: block;float: right;line-height: 18px;padding-right: 5px;}
#spaliu108912{color: red;}
#spaliu108912 span{background-color: red;color: white;}
#liup238912{padding-top: 25px;border-bottom: none;}

/*13*/
#ul88912 .liuLi138912{height: 306px;width: 233px;padding-top: 40px;text-align: center;}
#p88912{line-height: 18px;}
#p88912 span{color: red;font-weight: 600;}
#liu38912 img{padding-bottom: 20px;}

/*end1*/
#end1{width: 1185px;height: 50px;font-size:12px;background-color: #f9f9f9;border: 1px solid #dddddd;text-align: center;margin-left: 30px;}
#end1 span{font-size: 16px;font-weight: 800;color: #333333;}
#end1 p input{width: 335px;height: 26px;margin-left: 10px;}
#end1 p button{height: 32px;font-size: 15px;font-weight: 600;margin-right: 20px;}

/*end2*/
#end2 ul{list-style: none;float: left;padding-left: 30px;padding-right: 50px;color: #666666;}
#end2 ul li{line-height: 20px;font-size: 12px;}
#end2 #eli1, #eli12, #eli13,#eli14,#eli15,#eli16,#eli17{display: block;font-weight: 900;margin-bottom: 30px;font-size: 16px;color: #333333;}
#end2 #div1{padding-top: 50px;}

/*end3*/
#end3{text-align: center;font-size: 12px;border-top:1px solid #D0D0D0 ;}
#end3 p{color: #666666;}
#end3 h4{font-size: 18px;}
#end3 h4 em{color: red;}
